@{
    ViewBag.Title = "Home Page";
}

  <!-- slider -->
<div id="slider">
    <!-- revolution slider begin -->
    <div class="fullwidthbanner-container">
        <div id="revolution-slider">
            <ul>
                <li data-transition="fade" data-slotamount="7" data-masterspeed="2500" data-delay="5000">
                    <!--  BACKGROUND IMAGE -->
                    <img src="~/Content/them/img-rev-slider/bg-1.jpg" alt="">

                    <div class="tp-caption lft custom-font-2"
                         data-x="center"
                         data-y="184"
                         data-speed="800"
                         data-start="800"
                         data-easing="easeInOutCubic">
                        Next One Day
                    </div>

                    <div class="tp-caption sfb custom-font-1"
                         data-x="center"
                         data-y="250"
                         data-speed="800"
                         data-start="1400"
                         data-easing="easeInOutCubic">
                        Good Ideas
                    </div>

                    <div class="tp-caption sfb"
                         data-x="center"
                         data-y="330"
                         data-speed="800"
                         data-start="1600"
                         data-easing="easeInOutCubic">
                        <a class="btn btn-slider" href="#">Buy Theme</a>&nbsp;&nbsp;<a class="btn btn-border-slider" href="#">Read More</a>
                    </div>
                </li>

                <li data-transition="fade" data-slotamount="7" data-masterspeed="2500" data-delay="5000">
                    <!--  BACKGROUND IMAGE -->
                    <img src="~/Content/them/img-rev-slider/bg-3.jpg" alt="">

                    <div class="tp-caption lft custom-font-2"
                         data-x="center"
                         data-y="184"
                         data-speed="800"
                         data-start="800"
                         data-easing="easeInOutCubic">
                        We Are Make
                    </div>

                    <div class="tp-caption sfb custom-font-1"
                         data-x="center"
                         data-y="250"
                         data-speed="800"
                         data-start="1400"
                         data-easing="easeInOutCubic">
                        The Best Theme
                    </div>

                    <div class="tp-caption sfb"
                         data-x="center"
                         data-y="330"
                         data-speed="800"
                         data-start="1600"
                         data-easing="easeInOutCubic">
                        <a class="btn btn-slider" href="#">Buy Theme</a>&nbsp;&nbsp;<a class="btn btn-border-slider" href="#">Read More</a>
                    </div>
                </li>

                <li data-transition="fade" data-slotamount="7" data-masterspeed="2500" data-delay="5000">
                    <!--  BACKGROUND IMAGE -->
                    <img src="~/Content/them/img-rev-slider/bg-2.jpg" alt="">

                    <div class="tp-caption lft custom-font-2"
                         data-x="center"
                         data-y="184"
                         data-speed="800"
                         data-start="800"
                         data-easing="easeInOutCubic">
                        And You Will
                    </div>

                    <div class="tp-caption sfb custom-font-1"
                         data-x="center"
                         data-y="250"
                         data-speed="800"
                         data-start="1400"
                         data-easing="easeInOutCubic">
                        Love Compact
                    </div>

                    <div class="tp-caption sfb"
                         data-x="center"
                         data-y="330"
                         data-speed="800"
                         data-start="1600"
                         data-easing="easeInOutCubic">
                        <a class="btn btn-slider" href="#">Buy Theme</a>&nbsp;&nbsp;<a class="btn btn-border-slider" href="#">Read More</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- revolution slider close -->
</div>
<!-- slider close -->

<div class="clearfix"></div>

<!-- content begin -->
<div id="content" class="no-padding">

    <!-- section begin -->
    <section id="section-about">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3">
                   
                    <img src="~/Content/them/images/about/we-are-thumb.jpg" alt="about image" class="img-responsive">
                </div>
                <div class="col-md-5 col-sm-5">
                    <div class="about-box">
                        <h2 class="box-title">We are Compact</h2>
                        <div class="tiny-border"></div>
                        <p>Morbi vehicula a nibh in commodo. Aliquam quis dolor eget lectus pulvinar malesuada. Suspendisse eu rhoncus ligula. Class aptent taciti sociosqu ad litora torquent per conubia nostra,</p>
                        <ul class="list-style-1">
                            <li>Donec malesuada urna porta tellus feugiat</li>
                            <li>Nullam consequat lacus non luctus finibus.</li>
                            <li>Interdum et malesuada fames ac ante</li>
                            <li>Nam justo ipsum, sagittis sed hendrerit ac</li>
                        </ul>
                        <div class="divider-single"></div>
                        <a href="#" class="btn btn-primary btn-small">Get Started</a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="feature-box">
                        <h2 class="box-title">Our Features</h2>
                        <div class="tiny-border"></div>
                        <div class="feature">
                            <i class="fa fa-bar-chart"></i>
                            <h3>Mobile Ready</h3>
                            <p>Fusce at accumsan justo. Nulla lacus efficitur vel aliquam sed, fringilla sit amet neque.</p>
                        </div>
                        <div class="feature">
                            <i class="fa fa-diamond"></i>
                            <h3>Very Easy Customizie</h3>
                            <p>Donec malesuada urna porta tellus feugiat, ac tempor tortor ornare.</p>
                        </div>
                        <div class="feature no-margin-bottom">
                            <i class="fa fa-bullhorn"></i>
                            <h3>Free Icon Font Awesome</h3>
                            <p>Etiam eget neque lorem. Interdum et malesuada fames ac ante ipsum primis faucibus.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section close -->
    <!-- section begin -->

    <section id="section-about" class="bg-grey">
        <div class="container">
            <div class="row" style="position:relative">
                <div class="col-md-6 col-sm-6">
                    <img src="~/Content/them/images/about/we-are-thumb-2.jpg" alt="about image" class="img-responsive">

                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="about-box">
                        <h2 class="box-title ar_b">
                            About us
                        </h2>
                        <div class="tiny-border"></div>
                        <p style="line-height:30px;font-size:14px">
                            GULFSEAL your waterproofing partner. When you are specifying waterprooing projects, you need a partner you count on . A partner who is always there when needed , that offers a choice of leading waterproofing systems and can offer you long term confidence and assurance . GULFSEAL is a Suadi Manufacturing facility specialized in the production of a wide range of high quality waterproofing Modified Bitumen Membranes. With innovative technologies and time-tested products Gulf Seal provides reliable waterproofing solutions for virtually all above grade and below grade applications
                        </p>
                        <div class="divider-single"></div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="section-about" class="bg-white">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-md-push-6">
                    <img src="~/Content/them/images/about/we-are-thumb-1.jpg" alt="about image" class="img-responsive">
                </div>
                <div class="col-md-6 col-sm-6 col-md-pull-6">
                    <div class="about-box">
                        <h2 class="box-title ar_b">
                            About us
                        </h2>
                        <div class="tiny-border"></div>
                        <p style="line-height:30px;font-size:14px">
                            Based in Riyadh Saudi Arabia, Gulf Seal produces more than a 100 products and formulations of waterproofing Bitumen Memvranes meeting the highest international standards. As a Saudi manufacturing facility specialized in the production of quality waterproofing modified bitumen membranes. Gulf Seal operates from a state of the art facility with the highest and latest French technology obtained from Gulf Seal's sister company Axter France, which grants Gulf Seal to be the only certified Saudi waterproofing Bitumen Mambrance Manufacturer with European CE standards in the middle east. Today, millions of square meters of our membranes have been installed worldwide. Gulf Seal's Modified Bitemen Membranes are the basis for quality waterproofing systems guaranteeing to protect your structures and investments from the damaging effects of water.
                        </p>
                        <!--<ul class="list-style-1">
                            <li>Donec malesuada urna porta tellus feugiat</li>
                            <li>Nullam consequat lacus non luctus finibus.</li>
                            <li>Interdum et malesuada fames ac ante</li>
                            <li>Nam justo ipsum, sagittis sed hendrerit ac</li>
                        </ul>-->
                        <div class="divider-single"></div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="section-project" class="no-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="latest-projects clearfix">
                        <div class="latest-projects-intro">
                            <h2 class="box-title">Latest Projects</h2>
                            <div class="tiny-border-light"></div>
                            <p>Pellentesque gravida diam orci, vitae venenatis est eleifend sed. Proin non pretium turpis</p>
                        </div>
                        <div class="latest-projects-wrapper">
                            <div id="latest-projects-items" class="latest-projects-items">
                                <div class="item">
                                    <img src="~/Content/them/images/projects/small-2.jpg" alt="" class="img-responsive">
                                    <div class="project-details">
                                        <p class="folio-title"><a href="#">Plan For Your Bussiness</a></p>
                                        <p class="folio-cate"><i class="fa fa-tag"></i><a href="#">Finance</a>, <a href="#">Marketing</a></p>
                                        <div class="folio-buttons">
                                            <a href="images/projects/medium-1.jpg" title="Plan For Your Bussiness" class="folio"><i class="fa fa-search"></i></a>
                                            <a href="#"><i class="fa fa-link"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="~/Content/them/images/projects/small-3.jpg" alt="" class="img-responsive">
                                    <div class="project-details">
                                        <p class="folio-title"><a href="#">Business Growth Solutions</a></p>
                                        <p class="folio-cate"><i class="fa fa-tag"></i><a href="#">Finance</a>, <a href="#">Marketing</a></p>
                                        <div class="folio-buttons">
                                            <a href="images/projects/medium-2.jpg" title="Business Growth Solutions" class="folio"><i class="fa fa-search"></i></a>
                                            <a href="#"><i class="fa fa-link"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="~/Content/them/images/projects/small-4.jpg" alt="" class="img-responsive">
                                    <div class="project-details">
                                        <p class="folio-title"><a href="#">Enterprise Development</a></p>
                                        <p class="folio-cate"><i class="fa fa-tag"></i><a href="#">Finance</a>, <a href="#">Marketing</a></p>
                                        <div class="folio-buttons">
                                            <a href="images/projects/medium-3.jpg" title="Enterprise Development" class="folio"><i class="fa fa-search"></i></a>
                                            <a href="#"><i class="fa fa-link"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="~/Content/them/images/projects/small-1.jpg" alt="" class="img-responsive">
                                    <div class="project-details">
                                        <p class="folio-title"><a href="#">Successful Business</a></p>
                                        <p class="folio-cate"><i class="fa fa-tag"></i><a href="#">Finance</a>, <a href="#">Marketing</a></p>
                                        <div class="folio-buttons">
                                            <a href="images/projects/medium-4.jpg" title="Successful Business" class="folio"><i class="fa fa-search"></i></a>
                                            <a href="#"><i class="fa fa-link"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="~/Content/them/images/projects/small-5.jpg" alt="" class="img-responsive">
                                    <div class="project-details">
                                        <p class="folio-title"><a href="#">Marketing Strategy</a></p>
                                        <p class="folio-cate"><i class="fa fa-tag"></i><a href="#">Finance</a>, <a href="#">Marketing</a></p>
                                        <div class="folio-buttons">
                                            <a href="images/projects/medium-5.jpg" title="Marketing Strategy" class="folio"><i class="fa fa-search"></i></a>
                                            <a href="#"><i class="fa fa-link"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="~/Content/them/images/projects/small-6.jpg" alt="" class="img-responsive">
                                    <div class="project-details">
                                        <p class="folio-title"><a href="#">Effective Recruitment</a></p>
                                        <p class="folio-cate"><i class="fa fa-tag"></i><a href="#">Finance</a>, <a href="#">Marketing</a></p>
                                        <div class="folio-buttons">
                                            <a href="images/projects/medium-6.jpg" title="Effective Recruitment" class="folio"><i class="fa fa-search"></i></a>
                                            <a href="#"><i class="fa fa-link"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section close -->
    <!-- section begin -->
    <section id="section-partner" class="bg-grey">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <h2 class="box-title">Our Partners</h2>
                        <div class="tiny-border"></div>
                    </div>
                    <div id="client-logo" class="our-partner owl-carousel owl-theme" style="opacity: 1; display: block;">
                        <div class="owl-wrapper-outer"><div class="owl-wrapper" style="width: 6840px; left: 0px; display: block; transform: translate3d(-950px, 0px, 0px); transition: all 0ms ease 0s;"><div class="owl-item" style="width: 190px;"><div class="item"><img src="~/Content/them/images/client/envato.png" alt="envato"></div></div><div class="owl-item" style="width: 190px;"><div class="item"><img src="~/Content/them/images/client/pinterest.png" alt="pinterest"></div></div><div class="owl-item" style="width: 190px;"><div class="item"><img src="~/Content/them/images/client/envato.png" alt="envato"></div></div><div class="owl-item" style="width: 190px;"><div class="item"><img src="~/Content/them/images/client/wordpress.png" alt="wordpress"></div></div><div class="owl-item" style="width: 190px;"><div class="item"><img src="~/Content/them/images/client/dribbble.png" alt="dribbble"></div></div><div class="owl-item" style="width: 190px;"><div class="item"><img src="~/Content/them/images/client/envato.png" alt="envato"></div></div><div class="owl-item" style="width: 190px;"><div class="item"><img src="~/Content/them/images/client/envato.png" alt="envato"></div></div><div class="owl-item" style="width: 190px;"><div class="item"><img src="~/Content/them/images/client/pinterest.png" alt="pinterest"></div></div><div class="owl-item" style="width: 190px;"><div class="item"><img src="~/Content/them/images/client/envato.png" alt="envato"></div></div><div class="owl-item" style="width: 190px;"><div class="item"><img src="~/Content/them/images/client/wordpress.png" alt="wordpress"></div></div><div class="owl-item" style="width: 190px;"><div class="item"><img src="~/Content/them/images/client/dribbble.png" alt="dribbble"></div></div><div class="owl-item" style="width: 190px;"><div class="item"><img src="~/Content/them/images/client/envato.png" alt="envato"></div></div><div class="owl-item" style="width: 190px;"><div class="item"><img src="~/Content/them/images/client/envato.png" alt="envato"></div></div><div class="owl-item" style="width: 190px;"><div class="item"><img src="~/Content/them/images/client/pinterest.png" alt="pinterest"></div></div><div class="owl-item" style="width: 190px;"><div class="item"><img src="~/Content/them/images/client/envato.png" alt="envato"></div></div><div class="owl-item" style="width: 190px;"><div class="item"><img src="~/Content/them/images/client/wordpress.png" alt="wordpress"></div></div><div class="owl-item" style="width: 190px;"><div class="item"><img src="~/Content/them/images/client/dribbble.png" alt="dribbble"></div></div><div class="owl-item" style="width: 190px;"><div class="item"><img src="~/Content/them/images/client/envato.png" alt="envato"></div></div></div></div>
                        <div class="owl-controls clickable"><div class="owl-pagination"><div class="owl-page active"><span class=""></span></div><div class="owl-page"><span class=""></span></div><div class="owl-page"><span class=""></span></div></div></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section close -->
    <!-- section begin -->
    <section id="section-cta">
        <div class="sep-background-mask"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="cal-to-action text-center">
                        <span>We’ve Completed More Than <b>100+</b> project for our amazing clients, If you interested?</span>
                        <a href="#" class="btn btn-border-light">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section close -->
    
</div>
<!-- content close -->