@model GulfSeal.Models.Information

<link href="~/Content/dropzone/dropzone.css" rel="stylesheet" />


<style>
    .dropzone {
        background: lightgray;
        border: black dashed 3px;
        width: 250px;
        align-content: center;
        text-align: center;
        color: black;
        /*margin-left: auto;
            margin-right: auto;
            padding: 50px;*/
    }
</style>


<div class="page">
    <div class="page-single">
        <div class="container">
            <div class="row">
                <div class="col col-md-10 mx-auto">

                    <div class="card">

                        @Html.AntiForgeryToken()
                        <div class="modal-body">

                            <div class="text-center mb-6">
                                <h2 style="color:#4A4A4A;padding-top:20px;font-size:22px;">Create New Inforamtion</h2>
                            </div>


                            <div class="form-horizontal">


                                <div class="row" style="padding-left:30px;padding-right:30px;padding-top:16px;">



                                    <div class="form-group col-md-4">
                                        <div style="margin-left:20px;margin-right:20px;">
                                            <form action="../../Information/Create" enctype="multipart/form-data" method="post" id="my-awesome-dropzone" class="dropzone col-md-10">
                                                <div class="dropzone-previews "></div>
                                                <input type="hidden" name="InformationTypeId" value="@ViewBag.InformationTypeId" />
                                                <input type="hidden" name="Title" id="Title" />

                                            </form>

                                        </div>
                                    </div>

                                    <div class="form-group col-md-4" style="display:inline-block">
                                        <label class="form-label">Title</label>

                                        <input type="text" name="TitleTemp" id="TitleTemp" class="form-control" />
                                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })


                                    </div>


                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" id="ss" value="Create" class="btn btn-default" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>


                    <input type="hidden" name="Type" id="Type" value="@ViewBag.informationType" />



                </div>
            </div>
        </div>
    </div>
</div>




<script src="~/Content/dropzone/jquery-1.11.3.js"></script>
<script src="~/Content/dropzone/dropzone.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script>
    var added=false;
    var deleted_img_name=[];
    Dropzone.autoDiscover = false;
    var myDropzone = new Dropzone("#my-awesome-dropzone", {
        dictRemoveFile:"احذف الصورة",
        addRemoveLinks: true,
        autoProcessQueue: false,
        uploadMultiple: true,
        parallelUploads: 100,
        acceptedFiles: GetType(),
        init: function () {

            this.on("complete", function (data) {
                //var res = JSON.parse(data.xhr.responseText);

                var url ="../../Admin/Information/Index?InformationTypeId=@ViewBag.InformationTypeId";
                location.href = url;
            });
            this.on("addedfile", function (file) {
                added = true;


            });
            this.on("removedfile", function (file) {
                added = false;
                deleted_img_name.push(file.name);
                $("#deleted_img_name").val(deleted_img_name);
            });
        }


    });

    $("#ss").click(function (e) {

        $("#Title").val($("#TitleTemp").val());
        //$('#my-awesome-dropzone').submit();
        myDropzone.processQueue();

    });


    function GetType()
    {
        var type = $("#Type").val();

        if (type == "pic") {
            return 'image/*';
        }
        else if (type == "video") {
            return ".mp4,.mkv,.avi";
        }
        else
        {
            return 'application/pdf';
        }
    }
</script>